<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>

<%- include('../partials/header')  %> 

<section class="contenedor-carrito">
    <div class='carritodecompras'>
        <div class="carrito-productos">
            <div class="titulocarrito">
                <h2>Carrito de compras</h2>
            </div>
            <article class="carrito-item">
                <img src="img/TeRojo1.jpg" alt="">
                <div class="descripcion-carrito">
                    <h2>Te Rojo</h2>
                    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque mollitia repudiandae aliquam doloremque</p> -->
                    <h2>$200</h2>
                    <div class="botones-carrito-input">
                        <input type="number" class="input-carrito-number" name="cantidad" id="cantidad" value="1">
                    </div>
                </div>
            </article>
            <article class="carrito-item">
                <img src="img/TeVerde3.png" alt="">
                <div class="descripcion-carrito">
                    <h2>Te Verde</h2>
                    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque mollitia repudiandae aliquam doloremque</p> -->
                    <h2>$200</h2>
            
                    <div class="botones-carrito-input">
                        <input type="number" class="input-carrito-number" name="cantidad" id="cantidad" value="1">
                    </div>

                </div>
            </article>
            <div class="carrito-subtotal">
                <h2>Subtotal :</h2>
            </div>       
        </div>
        <div class="carrito-total">
                <h2>Total:</h2>
        </div>
        <div class="carrito-boton">
                <button type="submit">Comprar</button>
        </div>
    </div>       
</section>

<%- include('../partials/footer')  %> 


<%- include('../partials/bootstrap')  %> 

</body>

</html>