<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>

<%- include('../partials/header')  %> 

<section class = "contenedor-crear">
    <form action="/products/store" method="POST" class="formulario-crear">
        <h2 class="titulo-crear">The Tea Brand</h2>
        <p class="segundo-titulo-crear">Formulario de creacion de producto</p>
        <div class="campo-crear">
            <label for="nombre">Nombre del producto</label><br>
            <input type="text" class="input-crear" id="nombre" name="nombre" placeholder="Nombre del producto"><br>
        </div>
        <div class="campo-crear">
            <label for="descripcion">Descripcion del producto</label><br>
            <input type="text" class="input-crear" id="descripcion" name="descripcion" placeholder="Descripcion producto"><br>
        </div>
        <div class="campo-crear">
            <label for="categoria">Categoria</label><br>
            <input type="text" class="input-crear" id="categoria" name="categoria" placeholder="Categoria del producto"><br>
        </div>
        <div class="campo-crear">
            <label for="sabor">Sabor</label><br>
            <input type="text" class="input-crear" id="sabor" name="sabor" placeholder="Sabor"><br>
        </div>
        <div class="campo-crear">
            <label for="precio">Precio del producto</label><br>
            <input type="text" class="input-crear" id="precio" name="precio" placeholder="precio"><br>
        </div>
        <div>
            <label for="imagen">Subi tu imagen</label>
            <input type="file" name="imagen" id= "imagen"/>
        </div>
        <button type="submit" class="boton-crear">Crear Producto</button>
    </form>
</section>


<%- include('../partials/footer')  %> 


<%- include('../partials/bootstrap')  %> 

</body>

</html>