<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>

<%- include('../partials/header')  %> 

<div class="page-title">
    <h2>Nuestras Infusiones</h2>
</div>
<section class="contenedor-productos">
        <article>
            <div class="foto-producto">
                <img class='grow' src="images/TeRojo1.jpg">
            </div>
                <a href="/products/detalle" class="overlay"> 
                <h2>Te Rojo</h2>
            </a>
        </article>
        <article>
            <div class="foto-producto">
                <img class="grow" src="images/TeVerde3.png">
            </div>
                <a href="/products/detalle" class="overlay"> 
                <h2>Te Verde</h2>
            </a>
        </article>
        <article>
            <div class="foto-producto">
                <img class="grow" src="images/Manzanilla3.jpg">
            </div>
                <a href="/products/detalle" class="overlay"> 
                <h2>Te Manzanilla</h2>
            </a>
        </article>
        <article>
            <div class="foto-producto">
                <img class="grow" src="images/TeBlanco1.jpg">
            </div>
                <a href="/products/detalle" class="overlay"> 
                <h2>Te Blanco</h2>
            </a>
        </article>
        <article>
            <div class="foto-producto">
                <img class="grow" src="images/oolong.jpg">
            </div>
            <a href="/products/detalle" class="overlay"> 
                <h2>Te Oolong</h2>
            </a>
        </article>
        <article>
            <div class="foto-producto">
                <img class="grow" src="images/EarlGrey1.png">
            </div>
            <a href="/products/detalle" class="overlay"> 
                <h2>Te Negro</h2>
            </a>
        </article>
    </section>
</section>

<%- include('../partials/footer')  %> 


<%- include('../partials/bootstrap')  %> 

</body>

</html>