<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %> 

<body>

<%- include('partials/header')  %> 

<main>
  <a href='/products/detalle'>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active primera">
                  <!-- <img src="images/te1.png" class="d-block w-100" alt="first slide"> -->
                  <div class="gradient"></div>
                  <div class="carousel-caption d-md-block">
                      <h1>The Tea Brand</h1>
                      <h2>TE ROJO</h2>
                  <p>El té rojo, también conocido como Pu Erh, ejerce una acción diurética que favorece la eliminación de toxinas y evita la retención de líquidos. Es perfecto para ayudarnos en el proceso de la digestión. Además, esta estimulación también acelera la metabolización de los alimentos. Además, era muy conocido antiguamente como remedio natural para reducir la grasa de la sangre.</p>
              </div>
          </div>
          <div class="carousel-item segunda">
              <!-- <img src="images/te1.png" class="d-block w-100" alt="second slide"> -->
              <div class="gradient"></div>
              <div class="carousel-caption d-md-block">
                  <h1>The Tea Brand</h1>
                  <h2>TE VERDE</h2>
                  <p>El té verde posee un mayor poder antioxidantes, por eso ayuda a prevenir el envejecimiento. Es rico en polifenoles que tienen efectos como la reducción de la inflamación y protegen contra las enfermedades cardiovasculares y sus factores de riesgo, incluida la hipertensión arterial. Incrementa la formación de hueso. Además, con una alta concentración de vitamina C, el té verde fortalece al sistema inmunológico contra resfríos, gripes y otras infecciones.</p>
              </div>

          </div>
          <div class="carousel-item tercera">
              <!-- <img src="images/te1.png" class="d-block w-100" alt="Third slide"> -->
              <div class="gradient"></div>
              <div class="carousel-caption d-md-block">
                  <h1>The Tea Brand</h1>
                  <h2>TE DE MANZANILLA</h2>
                  <p> Las principales propiedades de esta hierba son antiinflamatorias, antialérgicas, antibacterianas y sedantes. Además, posee buenas ventajas digestivas y es muy buena para tratar afecciones respiratorias como ser el asma, el resfrío y la fiebre. También, a aquellas personas que no pueden dormir se les aconseja que beban una infusión de manzanilla para conseguir sueños más profundos.</p>
              </div>
          </div>
          <div class="carousel-item cuarta">
              <!-- <img src="images/te1.png" class="d-block w-100" alt="Third slide"> -->
              <div class="gradient"></div>
              <div class="carousel-caption d-md-block">
                  <h1>The Tea Brand</h1>
                  <h2>TE BLANCO</h2>
                  <p> El té blanco es antioxidante, mejora tu sistema inmunitario y frena el envejecimiento celular. En cuanto a su poder vitamínico, el té blanco tiene un gran aporte de vitamina C, que también refuerza el sistema inmunitario y te protege de resfriados y procesos víricos. Otro nutriente que forma parte de la composición del té blanco es la vitamina E, que está ligada a la mejora de los trastornos oculares, las funciones mentales y la salud cardiovascular.</p>
              </div>
          </div>
          <div class="carousel-item quinta">
              <!-- <img src="images/te1.png" class="d-block w-100" alt="Third slide"> -->
              <div class="gradient"></div>
              <div class="carousel-caption d-md-block">
                  <h1>The Tea Brand</h1>
                  <h2>TE OOLONG</h2>
                  <p> El té azul ayuda a fortalecer el sistema inmunológico. contribuye a reducir el colesterol, la presión arterial y el nivel de azúcar en la sangre. Por si fuera poco, se sabe que protege al hígado, mejora las defensas y contribuye a quemar grasas. También se lo utiliza para luchar contra el estrés, y su poder para fortalecer los huesos o limitar los efectos de la diabetes.</p>
              </div>
          </div>
          <div class="carousel-item sexta">
              <!-- <img src="images/te1.png" class="d-block w-100" alt="Third slide"> -->
              <div class="gradient"></div>
              <div class="carousel-caption d-md-block">
                  <h1>The Tea Brand</h1>
                  <h2>TE NEGRO</h2>
                  <p> Una de las propiedades más destacadas del té negro es que contribuye a disminuir el nivel de colesterol en sangre. También, ayuda a controlar la presión sanguínea y es ideal para consumirse antes de las comidas, ya que prepara el aparato digestivo para trabajar correctamente.</p>
              </div>
          </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
      </div> 
  </a>
</main>

<%- include('partials/footer')  %> 


<%- include('partials/bootstrap')  %> 

</body>

</html>