<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')  %> 

<body>

<%- include('../partials/header')  %> 


 
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast fade d-flex p-0 m-0 align-items-center bg-danger text-white border-1  position-absolute top-100 start-100 translate-middle" role="alert">
        <div class="toast-body ">
         <p class="text-center" id="mensaje">Usuario no encontrado</p>
        </div>
      </div>

</div>
<section class = "contenedor-login ">
  
  
    <form action="/users/login" method="POST" class="formulario-login needs-validation" novalidate id="login_usuario" >
        <h2 class="titulo-login m-0 p-0">The Tea Brand</h2>
        <p>Ingresa tus datos de acceso </p>
        <div class="campo-login">
            <label for="email">Email</label><br>
            <input type="text" class="input-login-1 form-control m-0 p-0" id="email" name="email" placeholder="mjr@mjr.com" required><br>
        </div>
        <div class="campo-login">
            <label for="password">Contraseña</label><br>
            <input type="password" class="input-login-2 form-control m-0 p-0" id="password" name="password" required><br>
        </div>
        <div class="me-olvide">
            <a href="/users/restaurar">Olvidé mi contraseña</a>
        </div>
        <div class="campo-login">
            <label for="rememberme">Recordarme</label>
            <input type="checkbox" class="input-login-3" id="rememberme" name="rememberme" required><br>
        </div>
        <button class = "inicio" type="submit">Iniciar sesion</button>
        <button class = "crear" type="button"><a href="/users/register">Crear cuenta</a></button>

    </form>
</section>


<%- include('../partials/footer')  %> 


<%- include('../partials/bootstrap')  %> 

</body>

</html>