<footer class="pie_de_pagina">
    <section class="contenedorfinal">
        <div class="informacion">
            <p>Somos MJR una empresa apasionada de las infusiones</p>
        </div>
        <ul class="listabotonderedes">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
    </section>
    <section class="copyright">
        Copyright©2020 MJR S.A
    </section>
</footer>