*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    display:block;
    text-align:center;
    background-color:white;
    width:100%
}

.header-principal{
    background-color:black;
    width:100%;
}

.logo{
    display:flex;
    justify-content: space-between;
}

.toggle-nav{
    font-size:40px;
    color:white;
    text-align:left;
}

.menu_de_navegacion .nav-list-items{
    list-style:none;
    width:100%;
    margin:0;

}

.menu_de_navegacion .nav-list-items li{
    text-decoration:none;
    border:solid white
}

.menu_de_navegacion .nav-list-items li a{
    color:#fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight:bold;
    letter-spacing: 1px;
}

.menu_de_navegacion .nav-list-items li a:hover {
    color: #444;
    font-family: 'Raleway', sans-serif;
}

.formulario-busqueda{
    display:none;

}

.primera {
    background: url('/img/Terojo1.jpg'), -webkit-linear-gradient(rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.4));
}

.segunda{
    background: url('/img/TeVerde3.png'), -webkit-linear-gradient(rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.4));
}

.tercera{
    background: url('/img/Manzanilla3.jpg'), -webkit-linear-gradient(rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.4));
}

.cuarta {
    background: url('/img/TeBlanco1.jpg'), -webkit-linear-gradient(rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.4));
}

.quinta {
    background: url('/img/oolong.jpg'), -webkit-linear-gradient(rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.4));
}

.sexta {
    background: url('/img/EarlGrey1.png'), -webkit-linear-gradient(rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.4));
}

.carousel-item {
    position: relative;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
    height: 85vh; 
    width: 100vw;
}

.carousel-item .gradient{
    width: 200%;
    height: 100%;
    background: -webkit-linear-gradient(60deg, rgba(12, 85, 40, 0.6), rgba(73, 73, 73, 0.6));
}

.carousel-caption{
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: 40%!important;
    left: 10%!important;
    transform: translateY(60%);
    color: #fff;
    font-family: 'Raleway', sans-serif
}

.carousel-caption h2{
    font-weight: 900;
    font-size: 45px;
}

.carousel-caption p{
    text-align: justify;
    font-weight: 100;
}

.pie_de_pagina{
    background-color:black;
    display:inline-block;
    padding-top:30px;
    width:100%;
}

.contenedorfinal .informacion p{    
    color:white;
    text-transform: uppercase;
    font-weight:bold;
    font-family: 'Raleway', sans-serif
}

.listabotonderedes{
    list-style:none;
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.listabotonderedes li a i{
    color:#fff;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright{
    width:100%;
    text-align: center;
    color:white;
}

.page-title{
    width: 100%;
    text-align: center;
    padding: 10px;
    background: -webkit-linear-gradient(right, rgba(12, 85, 40, 1), rgba(73, 73, 73, 1));
    color: #fff;
}

.page-title h2 {
    font-size: 25px;
    font-weight: 700;
}

.contenedor-productos{
    background-color:white;
}
.contenedor-productos article{
    width:100%;
    padding-bottom:20px;
    position:relative;
    transition: all .3s ease-in-out;
}

.contenedor-productos article h2{
    color:black;
    text-decoration:none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size:30px;    
    font-weight:bold;
}

.contenedor-productos article a{
    text-decoration:none;
}
.contenedor-productos article .foto-producto{
    border-radius:13px;
}

.contenedor-productos article .foto-producto .grow{
    width:60%;
    border-radius:180px;
    margin:20px 0px;
}

.descripcion-producto{
    background-color:white;
    padding-top:30px;
}

.descripcion-producto .imagen-producto{
    width:100%;
}

.descripcion-producto .imagen-producto img{
    width:70%;
}

.descripcion-producto .propiedades-producto .titulo-producto h2{
    padding-top:10px;
    text-transform:uppercase;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
}

.descripcion-producto .propiedades-producto .descripcion{
    padding-top:10px;
}

.descripcion-producto .propiedades-producto .seleccione-ingredientes{
    padding-top:10px;
}

.descripcion-producto .propiedades-producto .precio{
    padding-top: 30px;
}

.boton-producto{
    padding-top:30px;
}

 .boton-producto .boton{ 
     text-align:center;
     background-color:#3483fa;
     font-size:20px;
     border: solid;
     border-color: transparent;
     border-radius:30px;
     color:white;
     padding: 0 10px;
     margin-bottom:20px;
     text-decoration:none;
 }

 .boton a{
     color:white;
     text-decoration:none;
 }

 .boton a:hover{
     text-decoration:none;
 }


 .contenedor-carrito{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    border:1 solid;
}


.carritodecompras{
    width: 100%;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:space-between;
}

.titulocarrito{
    text-align:center;
    padding:25px;
    background: -webkit-linear-gradient(right, rgba(12, 85, 40, 1), rgba(73, 73, 73, 1));
    color:white;
}

.carrito-item{
    display:flex;
    justify-content:flex-start;
    margin:10px;
    padding-top:30px;
}

.carrito-item img{
    width:40%;
    margin: 10px;
}

.descripcion-carrito{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding-left:200px;
    
}

.carrito-subtotal{
    font-size:13px;
    text-align:left;    
    margin-top:50px
}

.carrito-subtotal h2{
    padding:30px;
}

.carrito-total{
    margin-top:50px;
    padding:30px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.carrito-boton{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:25px;
    color:black;
    margin-bottom:30px;
}

.carrito-boton button{
    background: -webkit-linear-gradient(right, rgba(12, 85, 40, 1), rgba(73, 73, 73, 1));
    border-radius:30px;
    color:white;
    padding: 0 40px;
}

.contenedor-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.titulo-registro{
    text-align: center;
    font-weight: bold;
    color: #DAF7A6;
    padding-top: 10px;
}

.segundo-titulo{
    margin-bottom: 30px;
}

.formulario-registro{
    display: block;
}

.input-registro{
    background-color: white;
    color: thistle;
    width: 550px;
    height: 35px;
    margin-bottom: 30px;
    border-radius: 0px;
    border: 0.5px solid black;
}

.campo-registro{
    font-size: medium;
}

.boton-registro{
    border-radius: 5px;
    border-color: white;
    border-width: 0.5px;
    height: 50px;
    width: 150px;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color:#F2F2EA;
}

.formulario-de-login{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    height: 60vh;
    background-color: black;
    color: white;
}

.formulario-de-login p{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
    color: white;
}

.formulario-de-login .login-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    color: white;
}

.formulario-de-login a{
    margin: 30px 0px;
}

.formulario-de-login .botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formulario-de-login .inicio{
    margin: 20px 10px;
    padding: 10px;
    background-color: #3483fa;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.formulario-de-login .crear{
    margin: 20px 10px;
    padding: 10px;
 font-weight: bold;
    text-transform: uppercase;
}

 


@media (min-width:768px){
    .contenedor{
        display:flex;
        flex-direction:column;
    }

    .header-principal{
        padding:20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        height: 70px;
        box-sizing:border-box;
    }
    
    .toggle-nav{
        display:none;
    }

    .logo{
        width:10%;
        display:flex;
        justify-content:center;
        align-items:center;
        box-sizing: border-box;
    }
    
    .menu_de_navegacion{
        display:flex;
        width:100%;
        justify-content:space-around;
        align-items:center;
        padding:0;
    }

    .formulario-busqueda{
        display:flex;
    
    }

    .header-principal .menu_de_navegacion .nav-list-items{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }

    .menu_de_navegacion .nav-list-items li{
        border:none;
        padding:10px;
    }
    
    .menu_de_navegacion .nav-list-items1 li .formulario-busqueda{
        margin:0;
    }
    
    .formulario-busqueda .nav-search{
        border:solid;
    }
    
    .icon-search{
        background-color:white;
        color:lightgray;
        margin-left:0 px;
        border-radius:5px;
    }
    
    .nav-search-input{
        border: 1px dotted #999;
        border-radius: 5px;
        -webkit-appearance: none;
    }

    .pie_de_pagina{
        margin:0%;   
    }
    
    .contenedorfinal{
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    .informacion{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:nowrap;
        margin-top:20px;
        padding:10px;
    }
    
    .listabotonderedes{
        display: flex;
        align-items: space-between;
        justify-content: flex-end;
        flex-wrap: nowrap;
        margin-top: 20px;
        margin-bottom:0px;  
        padding:10px;
    }
    
    .listabotonderedes li a i{
        padding-left: 15px;
        font-weight:bold;
        letter-spacing: 1px;
    }
        
    .listabotonderedes li a i:hover{
        color:gray;
    }
    
    .page-title h2 {
        font-size: 40px;
    }
    .contenedor-productos{
        width:100%;
        display:flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;   
    }
    .contenedor-productos article{
        width: 30%;
        padding: 20px 0;
        text-align:center;
        margin:20px;
        margin-top:50px;
        position:relative;
        transition: all .3s ease-in-out;
    }
    .contenedor-productos article h2{
        color:white;
    }
    .contenedor-productos article .overlay{
        opacity: 0;
        display:flex;
        text-decoration: none;
        justify-content:center;
        align-items:center;
        position:absolute;
        height:100%;
        width:100%;
        left:0;
        top:0;
        bottom:0;
        right:0;
        background: -webkit-linear-gradient(right, rgba(12, 85, 40, 0.9), rgba(73, 73, 73, 0.9));
        color: #fff;
        transition: all .3s ease-in-out;
    }
    
    .contenedor-productos article img{
        width:50%;
    }
    
    .grow{ transition: all .3s ease-in-out; }
    
    .contenedor-productos article h2{
        transform: translateY(-20px);
        opacity: 0;
        transition: all .5s ease-out;
        text-decoration: none;
    }
    
    .contenedor-productos article:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    
    .contenedor-productos article:hover .overlay{
        opacity: 1;
    }
    
    .contenedor-productos article:hover .grow{
      transform: scale(1.1); 
    }
    
    .contenedor-productos article:hover h2{
        transform: translateY(0);
        opacity: 1;
    }

    .descripcion-producto{
        display:flex;
        justify-content:space-around;
        align-content: center;
        flex-wrap: wrap;
        width:100%;
        padding-top:0px;
    }
    
    .descripcion-producto .imagen-producto{
        width:60%;
    }
    .descripcion-producto .imagen-producto img{
        width:100%;
    }
    .descripcion-producto .propiedades-producto{
        /* margin-top:150px; */
        width: 20%;  
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        margin-right:100px;
    }
    
    .descripcion-producto .propiedades-producto .descripcion{
        margin-top:10px;
    }
    
    .descripcion-producto .propiedades-producto .seleccione-ingredientes{
        margin-top:10px;
    }
    
    .descripcion-producto .propiedades-producto  .precio{
        margin-top:10px;
    }
    
    .descripcion-producto .propiedades-producto .boton-producto{
        margin-top:10px;
    }
    
    .descripcion-producto .propiedades-producto .boton-producto .boton{ 
         font-size:15px;
         display:flex;
         justify-content:space-around;
         align-items:center;
     }
    
     .descripcion-producto .propiedades-producto .boton-producto .boton .carrito-btn2{
        color: white;
        margin-left:10px;
        padding-bottom:10px;
    }

    .carrito-item img{
        width:30%;
    }

}

@media (min-width:992px) {
    .nav-search-input{
        padding: 0 50px;
    }

    .carrousel-caption h1{
        font-size:80px;
    }
    .carousel-caption h2{
        font-size: 70px;
    }
    .carousel-caption p{
        font-size:25px;
    }

    .carritodecompras{
        width: 50%;
    }

}

@media (min-width:1200px){
    .nav-search-input{
        padding: 0 150px;
    }

    .descripcion-producto .propiedades-producto .descripcion{
        margin-top:30px;
    }
    
    .descripcion-producto .propiedades-producto .seleccione-ingredientes{
        margin-top:30px;
    }
    
    .descripcion-producto .propiedades-producto  .precio{
        margin-top:30px;
    }
    
    .descripcion-producto .propiedades-producto .boton-producto{
        margin-top:30px;
    }

    .carritodecompras{
        width: 40%;
    }
}